{% extends 'admin/layouts/base.html.twig' %}

{% block title %}Hello EntityController!{% endblock %}

{% block body %}
    <h1>List</h1>
    <a href="{{ path('admin_entity_list', { entityName: entityName }) }}">List records</a>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    <input type="submit" value="Submit">
    {{ form_end(form) }}
{% endblock %}
