{% extends 'admin/layouts/base.html.twig' %}

{% block title %}Hello EntityController!{% endblock %}

{% block body %}
    <h1>List</h1>
    <a href="{{ path('admin_entity_new', { entityName: entityName }) }}">New record</a>
    <table>
        <thead>
            {% for field in entityAdmin.getListFields %}
                <th>
                    <td>{{ field }}</td>
                </th>
            {% endfor %}
        </thead>
        <tbody>
            {% for record in records %}
                <tr>
                {% for field in entityAdmin.listFields %}
                    {% if field == 'createdAt' or field == 'updatedAt' %}
                        <td>{{ attribute(record, 'get' ~ field)|date('Y-m-d') }}</td>
                    {% else %}
                        <td>{{ attribute(record, 'get' ~ field) }}</td>
                    {% endif %}
                {% endfor %}
                    <td>
                        <a href="{{ path('admin_entity_edit', { entityName: entityName, entityId: record.getId }) }}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
